<!DOCTYPE HTML> 
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"> 
<script src="/js/jquery/2.0.0/jquery.min.js" /></script> 
<script src="/js/bootstrap/3.3.6/bootstrap.min.js" /></script>
 
<link href="/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/common/menu/css/font-awesome.css" rel="stylesheet" />
<link href="/common/menu/css/custom-styles.css" rel="stylesheet" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <nav class="navbar-default navbar-side " role="navigation"> 
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="#"><i class="fa fa-bell fa-fw"></i>用户管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/config/user/listUser">用户列表</a>
                            </li>
                            <li>
                                <a href="/config/user/listRole">角色列表</a>
                            </li>
                            <li>
                                <a href="/config/user/listPermission">权限列表</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop"></i>资源管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/config/resource/listResource">资源列表</a>
                            </li>
                            <li>
                                <a href="/config/resource/listRoomtype">房型列表</a>
                            </li>
                            <li>
                                <a href="/config/resource/listFacility">设施列表</a>
                            </li>
                            <li>
                                <a href="/config/resource/listPolicy">政策列表</a>
                            </li>
                        </ul>
                    </li>
					<li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i>订单管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/config/order/listOrder">订单列表</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="tab-panel.html"><i class="fa fa-qrcode"></i> Tabs & Panels</a>
                    </li>
                    
                    <li>
                        <a href="table.html"><i class="fa fa-table"></i> Responsive Tables</a>
                    </li>
                    <li>
                        <a href="form.html"><i class="fa fa-edit"></i> Forms </a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i>用户管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">用户管理</a>
                            </li>
                            <li>
                                <a href="#">角色管理</a>
                            </li>
                            <li>
                                <a href="#">权限管理<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="empty.html"><i class="fa fa-fw fa-file"></i> Empty Page</a>
                    </li>
                </ul>
            </div>
        </nav>
    
    <!-- JS Scripts-->
    <script src="/common/menu/js/jquery.metisMenu.js"></script> 
    <script src="/common/menu/js/custom-scripts.js"></script>
</html>