<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"> 
<script src="/js/jquery/2.0.0/jquery.min.js"></script>
<script src="/js/bootstrap/3.3.6/bootstrap.min.js"></script>
<!-- js -->
<script src="/js/myjs/common/buttonTop.js"></script>
<script src="/js/myjs/common/modelTip.js"></script>
<!-- css -->
<link href="/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/css/mycss/commonStyle.css" rel="stylesheet" type="text/css" />
<link href="/css/mycss/userInformationStyle.css" rel="stylesheet" type="text/css" />
<link href="/css/mycss/myIconfont/iconfont.css" rel="stylesheet" type="text/css" />
<link href="/css/mycss/common.css" rel="stylesheet" type="text/css" />
<link href="/css/mycss/loginStyle.css" rel="stylesheet" type="text/css" />
<head>
    <title>个人信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<!-- 顶部导航栏 -->
    <div th:include="common/navtop"></div>
    <!-- 这是当前网页位置提醒栏 -->
    <div th:include="common/position"></div>
    
    <!-- 这是个人信息编辑内容的div -->
    <div class="panel panel-info div-userInformation">
        <div class="panel-heading">订单信息</div>

        <div class="panel-body">

           

            
        </div>

    </div>

    <!-- 账号绑定 -->
    <div class="panel panel-info div-userInformation">
        <div class="panel-heading">账号绑定</div>
        <div id="div-userInformationBinding">
            <div id="div-userInformationBindingList">
                <div>
                    <ul>
                        <li id="li-Phone">
                            <form>
                                <span class="iconfont icon-shoujisel"></span>
                                <button>绑定：手机号</button>
                            </form>
                        </li>
                        <li id="li-QQ">
                            <form>
                                <span class="iconfont icon-qq-copy"></span>
                                <button>绑定：QQ</button>
                            </form>
                        </li>
                        <li id="li-Weixin">
                            <form>
                                <span class="iconfont icon-unie655"></span>
                                <button>绑定：微信</button>
                            </form>
                        </li>

                    </ul>
                </div>
                <div>
                    <ul>
                        <li id="li-Email">
                            <form>
                                <span class="iconfont icon-youxiang"></span>
                                <button>绑定：邮箱</button>
                            </form>
                        </li>
                        <li id="li-Facebook">
                            <form>
                                <span class="iconfont icon-facebook3"></span>
                                <button>绑定：Facebook</button>
                            </form>
                        </li>
                        <li id="li-Google">
                            <form>
                                <span class="iconfont icon-googleplus_F"></span>
                                <button>绑定：Google</button>
                            </form>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</body>
<!-- js -->
<script src="/common/scroll/jquery.nicescroll.js"/></script>
<script src="/common/scroll/scrollStyle.js"/></script>
</html>