<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"> 
  <script src="/js/jquery/2.0.0/jquery.min.js"/></script>
  <script src="/js/bootstrap/3.3.6/bootstrap.min.js"/></script>
  <script src="/js/myjs/common/navtop/navTopCreate.js"/></script>
  
  <link href="/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/mycss/common.css" rel="stylesheet" type="text/css" />
  <link href="/css/mycss/config/configCommonStyle.css" rel="stylesheet" type="text/css" />

  <head>
    <title>
      资源列表
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
  <!-- 顶部导航栏 -->
  <div th:include="common/navtop"></div>
  <!-- 菜单栏 -->
  <div th:include="common/menu"></div>
  
  <!-- 表格 -->
    <div class="workingroom">
        
        <table class="table table-condensed table-striped">
          <tr>
          	<td>id</td>
          	<td>房型</td>
            <td>资源号</td>
            <td>订单号</td>
            <td>用户</td>
            <td>入住时间</td>
            <td>离店时间</td>
            <td>当前状态</td>
            <td>编辑</td>
            <td>删除</td>
          </tr>
            <tr th:each="sign:${page.list}">
              <td th:text="${sign.id}"></td>
              <td th:text="${signId_roomtype[sign.id]}"></td>
              <td th:text="${sign.sign}"></td>
              <td th:text="${signId_orderSign[sign.id]}"></td>
              <td th:text="${signId_userName[sign.id]}"></td>
              <td th:text="${#dates.format(sign.arrivalDate, 'yyyy-MM-dd')}"></td>
              <td th:text="${#dates.format(sign.depatureDate, 'yyyy-MM-dd')}"></td>
              <td th:text="${sign.status}==1?'占用':'空闲'"></td>
              <td><a th:href="@{'editSign?name='+${sign.id}}">编辑</a></td>
          	  <td><a th:href="@{'deleteSign?name='+${sign.id}}">删除</a></td>
            </tr>
        </table>

        <div class="addOrEdit" >
         <a href="addRoomtype">添加</a>
      </div>
    </body>
<script src="/common/scroll/jquery.nicescroll.js"/></script>
  <script src="/common/scroll/scrollStyle.js"/></script>
  </html>
