<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>结算</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script src="/js/jquery/2.0.0/jquery.min.js"></script>
    <script src="/js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <link href="/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/css/lib/font-lotusicon.css">
    <link rel="stylesheet" type="text/css" href="/css/lib/jquery-ui.min.css">
    <link href="/css/settlement/public.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/settlement/base.css" />
    <script type="text/javascript" src="/js/settlement/jquery_cart.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/settlement/checkOut.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/lib/font-awesome.min.css"/>
    <link rel="stylesheet" href="/common/shoppingCart/css/home.css"/>
    <link rel="stylesheet" type="text/css" href="/css/settlement/buyConfirm.css"/>
    <link rel="shortcut icon" href="images/favicon.png"/>
</head>

<body>

    <!-- HEADER -->
    <div th:include="common/header"></div>

    <!-- SUB BANNER -->
    <div th:include="common/banner"></div>
    
	<!--订单提交body部分开始-->  
	<div class="border_top_cart">
		<div class="container payment-con">
    		<form  target="_blank" action="payMain" id="pay-form" method="post">
            	<div class="order-info">
                	<div class="msg">
                   		<h3>您的订单已提交成功！付款咯～</h3>
                   		<p class="post-date">成功付款后，7天发货</p>
                    </div>
                	<div class="info">
                    	<p>金额：<span class="pay-total">[[${price}]]元</span></p>
                    	<p>订单：[[${order.sign}]]</p>
                    	<p>用户：[[${order.userName}]]<span class="line">/</span>
                    			[[${order.userPhone}]]<span class="line">/</span>
                        		[[${invoiceGroup}]][[${invoiceType}]]
                        </p>
                	</div>
                	<div class="icon-box">
                   	 	<i class="iconfont"><img src="/images/settlement/yes_ok.png"></i>
                	</div>
            	</div>
            
            	<div class="xm-plain-box">
            	
                <!-- 选择支付方式 -->
                <div class="box-hd bank-title clearfix">
                    <div id="titleWrap" class="title-wrap">
                        <h2 class="title">选择支付方式</h2>
                        <h2 class="title hide " >你还需要继续支付 <em>49.00</em> 元</h2>
                        <span class="tip-tag"></span>
                    </div>
                </div>
                <div class="box-bd" id="bankList">
                    <div class="payment-bd">
                    <form name="ck">
                    <dl class="clearfix payment-box">
	                    <dt>
	                        <strong>支付平台</strong>
	                        <p>手机等大额支付推荐使用支付宝快捷支付</p>
	                    </dt>
	                    <dd>
	                        <fieldset id="test4-input-input_tab1-input_tab2" style=" border:none;">
		                        <ul class="payment-list clearfix" >
		                            <li><input class="input_tab2" name="payType" id="r2" type="radio" value="1"/><label><img src="/images/settlement/zfb.png" alt=""/></label></li>
		                            <li><input class="input_tab2" name="payType" id="r2" type="radio" value="2"/><label><img src="/images/settlement/yck.png" alt=""/></label></li>
		                          	<li><input class="input_tab2" name="payType" id="r2" type="radio" value="3"/><label><img src="/images/settlement/zxzf.png" alt=""/></label></li>
		                        </ul>
		                        <div>
			                        <div id="test4_2" style="display:none;"></div>
			                        <div id="test4_3" style="display:none;"></div>
			                        <div id="test4_4" style="display:none;"></div>
								</div>
	                        </fieldset>
	                   	</dd>
                    </dl>
                    </form>

                    <dl class="clearfix payment-box" >
                            <dt>
                                <strong>银行网银</strong>
                                <p>支持以下各银行借记卡及信用卡</p>
                            </dt>
                            <dd>
                           		<ul class="payment-list clearfix">
                                    <li><label  for="CMB"><input type="radio" name="payOnlineBank" id="CMB" value="CMB" /> <img src="http://s1.mi.com/images/payOnline_zsyh.gif" alt=""/></label></li>
                                    <li><label  for="ICBCB2C"><input type="radio" name="payOnlineBank" id="ICBCB2C" value="ICBCB2C" /> <img src="http://s1.mi.com/images/payOnline_gsyh.gif" alt=""/></label></li>
                                    <li><label  for="CCB"><input type="radio" name="payOnlineBank" id="CCB" value="CCB" /> <img src="http://s1.mi.com/images/payOnline_jsyh.gif" alt=""/></label></li>
                                    <li><label  for="ABC"><input type="radio" name="payOnlineBank" id="ABC" value="ABC" /> <img src="http://s1.mi.com/images/payOnline_nyyh.gif" alt=""/></label></li>
                                    <li><label  for="BOCB2C"><input type="radio" name="payOnlineBank" id="BOCB2C" value="BOCB2C" /> <img src="http://s1.mi.com/images/payOnline_zgyh.gif" alt=""/></label></li>
                                    <li><label  for="COMM"><input type="radio" name="payOnlineBank" id="COMM" value="COMM" /> <img src="http://s1.mi.com/images/payOnline_jtyh.gif" alt=""/></label></li>
                                    <li><label  for="PSBC-DEBIT"><input type="radio" name="payOnlineBank" id="PSBC-DEBIT" value="PSBC-DEBIT" /> <img src="http://s1.mi.com/images/payOnline_youzheng.gif" alt=""/></label></li>
                                    <li><label  for="GDB"><input type="radio" name="payOnlineBank" id="GDB" value="GDB" /> <img src="http://s1.mi.com/images/payOnline_gfyh.gif" alt=""/></label></li>
                                    <li><label  for="SPDB"><input type="radio" name="payOnlineBank" id="SPDB" value="SPDB" /> <img src="http://s1.mi.com/images/payOnline_pufa.gif" alt=""/></label></li>
                                    <li><label  for="CEBBANK"><input type="radio" name="payOnlineBank" id="CEBBANK" value="CEBBANK" /> <img src="http://s1.mi.com/images/payOnline_gdyh.gif" alt=""/></label></li>
                                    <li><label  for="SPABANK"><input type="radio" name="payOnlineBank" id="SPABANK" value="SPABANK" /> <img src="http://s1.mi.com/images/payOnline_payh.gif" alt=""/></label></li>
                                    <li><label  for="CIB"><input type="radio" name="payOnlineBank" id="CIB" value="CIB" /> <img src="http://s1.mi.com/images/payOnline_xyyh.gif" alt=""/></label></li>
                                    <li><label  for="CMBC"><input type="radio" name="payOnlineBank" id="CMBC" value="CMBC" /> <img src="http://s1.mi.com/images/payOnline_msyh.gif" alt=""/></label></li>
                                    <li><label  for="BOB"><input type="radio" name="payOnlineBank" id="BOB" value="BOB" /> <img src="http://s1.mi.com/images/payOnline_bjyh.gif" alt=""/></label></li>
                                    <li><label  for="CITIC"><input type="radio" name="payOnlineBank" id="CITIC" value="CITIC" /> <img src="http://s1.mi.com/images/payOnline_zxyh.gif" alt=""/></label></li>
                                    <li><label  for="SDB"><input type="radio" name="payOnlineBank" id="SDB" value="SDB" /> <img src="http://s1.mi.com/images/payOnline_sfyh.gif" alt=""/></label></li>
                                    <li><label  for="SHBANK"><input type="radio" name="payOnlineBank" id="SHBANK" value="SHBANK" /> <img src="http://s1.mi.com/images/payOnline_shyh.gif" alt=""/></label></li>
                                    <li><label  for="BJRCB"><input type="radio" name="payOnlineBank" id="BJRCB" value="BJRCB" /> <img src="http://s1.mi.com/images/payOnline_bjnsyh.gif" alt=""/></label></li>
                                    <li><label  for="NBBANK"><input type="radio" name="payOnlineBank" id="NBBANK" value="NBBANK" /> <img src="http://s1.mi.com/images/payOnline_nbyh.gif" alt=""/></label></li>
                                    <li><label  for="HZCBB2C"><input type="radio" name="payOnlineBank" id="HZCBB2C" value="HZCBB2C" /> <img src="http://s1.mi.com/images/payOnline_hzyh.gif" alt=""/></label></li>
                                    <li><label  for="SHRCB"><input type="radio" name="payOnlineBank" id="SHRCB" value="SHRCB" /> <img src="http://s1.mi.com/images/payOnline_shnsyh.gif" alt=""/></label></li>
                                    <li><label  for="FDB"><input type="radio" name="payOnlineBank" id="FDB" value="FDB" /> <img src="http://s1.mi.com/images/payOnline_fcyh.gif" alt=""/></label></li>             
                               	</ul>
                       		</dd>
                        </dl>
                
                    </div>
                </div>
	            <div class="box-ft clearfix">
	                    <input type="submit" class="btn btn-primary" value="下一步" id="payBtn"/>
	                    <a href="settlement" class="btn btn-lineDakeLight">修改订单</a>
	                    <span class="tip"></span>
	                </div>
	            </div>
    		</form>  
    		
		</div>
		
	</div>
	<!--订单提交body部分结束-->
    
	<!-- FOOTER -->
    <div th:include="common/footer"></div>
    <p>
        <a href="#"><img src="/images/settlement/bottom_img01.png"></a>
        <a href="#"><img src="/images/settlement/bottom_img02.png"></a>
        <a href="#"><img src="/images/settlement/bottom_img03.png"></a>
        <a href="#"><img src="/images/settlement/bottom_img04.png"></a>
        <a href="#"><img src="/images/settlement/bottom_img05.png"></a>
        <a href="#"><img src="/images/settlement/bottom_img06.png"></a>
        <a href="#"><img src="/images/settlement/bottom_img07.png"></a>
        <a href="#"><img src="/images/settlement/bottom_img08.png"></a>
        <a href="#"><img src="/images/settlement/bottom_img09.png"></a>
    </p>
    <!-- LOAD JQUERY -->
    <script type="text/javascript" src="js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap-select.js"></script>
    
    <script type="text/javascript" src="js/scripts.js"></script>
    
	<script src="/js/myjs/settlement/base.min.js"></script>
    <script type="text/javascript" src="/js/myjs/settlement/buyConfirm.js"></script>

    <!-- js -->
    <script src="/common/scroll/jquery.nicescroll.js" /></script>
    <script src="/common/scroll/scrollStyle.js" /></script>
</body>
</html>
