<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"> 
<head>
    <!-- TITLE -->
    <title>Restaurants</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="images/favicon.png">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Hind:400,300,500,600%7cMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="css/lib/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/lib/font-lotusicon.css">
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/lib/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/lib/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="css/lib/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="css/lib/settings.css">
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap-select.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    <!-- PAGE WRAP -->
    <div id="page-wrap">

        <!-- HEADER -->
        <div th:include="common/header"></div>
        
        <!-- SUB BANNER -->
        <div th:include="common/banner"></div>
        
        <!-- RESTAURANTS -->
        <section class="section-restaurant-1 bg-white">
            <div class="container">

                <div class="restaurant-lager">

                    <div class="restaurant_content">

                        <!-- HEADING -->
                        <div class="restaurant_title text-center">
                            <h2 class="heading">BREAKFAST</h2>
                            <span class="time">11h00 Am - 2h00 Pm</span>
                        </div>
                        <!-- END / HEADING -->

                        <div class="row">

                            <!-- ITEM -->
                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$60</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$30</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$32</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$50</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$20</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$26</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>
                            <!-- END / ITEM -->

                        </div>
                        
                        <!-- HR -->
                        <div class="hr"></div>
                        <!-- END  / HR -->

                    </div>

                    <div class="restaurant_content">
                        
                        <!-- HEADING -->
                        <div class="restaurant_title text-center">
                            <h2 class="heading">LUNCH</h2>
                            <span class="time">11h00 Am - 2h00 Pm</span>
                        </div>
                        <!-- END / HEADING -->

                        <div class="row">

                            <!-- ITEM -->
                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$60</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$30</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$32</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$50</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$20</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$26</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            
                        </div>

                        <!-- HR -->
                        <div class="hr"></div>
                        <!-- END  / HR -->

                    </div>

                    <div class="restaurant_content">
                        
                        <!-- HEADING -->
                        <div class="restaurant_title text-center">
                            <h2 class="heading">DINNER</h2>
                            <span class="time">11h00 Am - 2h00 Pm</span>
                        </div>
                        <!-- END / HEADING -->

                        <div class="row">

                            <!-- ITEM -->
                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$60</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$30</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$32</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$50</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$20</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$26</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            
                        </div>

                        <!-- HR -->
                        <div class="hr"></div>
                        <!-- END  / HR -->

                    </div>

                    <div class="restaurant_content">
                        
                        <!-- HEADING -->
                        <div class="restaurant_title text-center">
                            <h2 class="heading">DRINK</h2>
                            <span class="time">All time</span>
                        </div>
                        <!-- END / HEADING -->

                        <div class="row">

                            <!-- ITEM -->
                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$60</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$30</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$32</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$50</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$20</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
                                
                                        <p class="desc">Egg Beaters scrambled with slow-roasted tomatoes, onion, fresh spinach and mushrooms.</p>
                                
                                        <p class="price">
                                            <span class="amout">$26</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            
                        </div>

                    </div>

                </div>

            </div>
        </section>
        <!-- END / RESTAURANTS -->

        <!-- FOOTER -->
        <div th:include="common/footer"></div>

    </div>
    <!-- END / PAGE WRAP -->


    <!-- LOAD JQUERY -->
    <script type="text/javascript" src="js/lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap-select.js"></script>
    <script src="http://ditu.google.cn/maps/api/js?v=3.exp&amp;signed_in=true"></script>
    <script type="text/javascript" src="js/lib/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="js/lib/owl.carousel.js"></script>
    <script type="text/javascript" src="js/lib/jquery.appear.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.countTo.js"></script>
    <script type="text/javascript" src="js/lib/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="js/lib/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/lib/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <!-- js -->
	<script src="/common/scroll/jquery.nicescroll.js"/></script>
	<script src="/common/scroll/scrollStyle.js"/></script>
</body>
</html>
