<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>结算</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script src="/js/jquery/2.0.0/jquery.min.js"></script>
    <script src="/js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <link href="/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="css/lib/font-lotusicon.css">
    <link rel="stylesheet" type="text/css" href="css/lib/jquery-ui.min.css">
    <link href="/css/settlement/public.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/settlement/base.css" />
    <script type="text/javascript" src="/js/settlement/jquery_cart.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/settlement/checkOut.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/lib/font-awesome.min.css"/>
    <link rel="stylesheet" href="/common/shoppingCart/css/home.css"/>
</head>

<body>

    <!-- HEADER -->
    <div th:include="common/header"></div>

    <!-- SUB BANNER -->
    <div th:include="common/banner"></div>


    <!--信息填写部分开始-->
    <div class="container">
        <div class="checkout-box">
            <form id="checkoutForm" action="generateOrder" method="post">
            
            	<!-- 预订信息 -->
                <div class="xm-box">
                    <div class="box-hd ">
                        <h2 class="title">预订信息</h2>
                    </div>
                    <div class="box-bd shoppingId" th:each="shoppingCart:${shoppingCarts}"  th:value="${shoppingCart.id}">
                    	<span class="box-bd-tit">房间<span th:text="${shoppingCartStat.count}"></span></span>
                 		<div class="box-bd-item">
                 			<span class="box-bd-item-tit">房型信息</span>
                 			<div class="box-bd-item-cont" th:text="${id_resource[shoppingCart.id].roomtype}"></div>
                 		</div>
                 		<div class="box-bd-item">
                 			<span class="box-bd-item-tit">入离日期</span>
                 			<div class="box-bd-item-cont f-to">
                 				<b class="f-to-arrival" th:text="${#dates.format(shoppingCart.arrivalDate, 'yyyy-MM-dd')}"></b>
                 				<span th:text="${#strings.substring(arrivalTime,0,5)}+' 之后 '"></span>
                 				<b class="f-to-line">——</b>
                 				<b class="f-to-depature" th:text="${#dates.format(shoppingCart.depatureDate, 'yyyy-MM-dd')}"></b>
                 				<span th:text="${#strings.substring(depatureTime,0,5)}+' 之前 '"></span>
                 				<span class="f-to-number"></span><span>晚</span>
                 				<a class="f-to-btn" data-target="#Modal" data-toggle="modal" >修改日期</a>
                 			</div>
                 		</div>
                 		<div class="box-bd-item">
                 			<div class="tip-number" data-toggle="tooltip" data-placement="bottom" title="大于6间或剩余数请致电客服">!</div>
                 			<span class="box-bd-item-tit">房间数量</span>
                 			<div class="box-bd-item-cont">
								<div class="spinner">
									<button type="button" class="decrease" th:disabled="${shoppingCart.number}<=1?'true':'false'">-</button>
									<input type="text" class="spinnerExample value" maxlength="2" th:value="${shoppingCart.number}" />
									<button type="button" class="increase">+</button>
								</div>
								<span class="tip-failed" th:style="'display:' + @{(${id_remain[shoppingCart.id]>6} ? 'none' : 'inline-block')}">
				                    <div>!</div>
				                    <span> 仅剩<span class="remain" th:text="${id_remain[shoppingCart.id]}"></span>间！</span>
				                </span>
				                <span class="tip-maxpeople">
				                	<span>每间最多入住</span>
				                	<span th:text="${id_roomtype[shoppingCart.id].people}"></span>
				                	<span>人</span>
				                </span>
								
							</div>
                 		</div>
                 		<div class="box-bd-item">
                 			<span class="box-bd-item-tit">房费情况</span>
                 			<div class="box-bd-item-cont">
                 				<span>¥</span><span class="span-price" th:text="${id_resource[shoppingCart.id].price*shoppingCart.number}" th:value="${id_resource[shoppingCart.id].price}"></span>
                 			</div>
                 		</div>
                    </div>
                </div>
                <!-- 预订信息 END-->
                
                <!-- Modal -->
                <div class="modal " id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-header">
		            	<button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
		           		<h4 class="modal-title">修改入离日期</h4>
		          	</div>
			      	<div class="modal-body">
			        	<div class="availability-form">
			        		<span>入住</span>
                        	<input type="text" name="arrive" class="awe-calendar from" placeholder="入住日期">
                        	<span>&#12288;&#12288;</span>
                        	<span>退房</span>
                        	<input type="text" name="departure" class="awe-calendar to" placeholder="退房日期">
                    	</div>
			       	</div>
			     	<div class="modal-footer">
			        	<button data-dismiss="modal" class="btn btn-primary ok" type="button">确定</button>
			       		<button data-dismiss="modal" class="btn btn-default no" type="button">取消</button>
			     	</div>
				</div>
                <!-- Modal END-->
                
                <!-- 入住信息 -->
                <div class="xm-box">
                    <div class="box-hd ">
                        <h2 class="title">入住信息</h2>
                    </div>
                    <div class="box-bd">
                    	<div class="box-bd-people" th:each="shoppingCart:${shoppingCarts}">
                    		<input name="shoppingCartId" th:value="${shoppingCart.id}" style="display:none"/>
		                	<span class="box-bd-tit">房间<span th:text="${shoppingCartStat.count}"></span></span>
		             		<div class="box-bd-item" th:each="i:${#numbers.sequence(1,id_roomtype[shoppingCart.id].people)}">
		             			<span class="box-bd-item-tit">住客<span th:text="${i}"></span></span>
		             			<div class="box-bd-item-cont">
		             				<div class="form_item form-lastname">
		             					<input name="userLastname" placeholder="姓 Last Name"/>
		             				</div>
		             				<div class="form_item form-firstname">
		             					<input name="userFirstname" placeholder="名  First Name"/>
		             				</div>
		             			</div>
		             			</div>
		             		</div>
                 		</div>
                 		<div class="box-bd-item">
                 			<span class="box-bd-item-tit">手机号</span>
                 			<div class="box-bd-item-cont">
                 				<div class="form_item form-firstname">
		             					<input name="userPhone" placeholder="当地手机号码"/>
		             			</div>
                 			</div>
                 		</div>
                 		<div class="box-bd-item">
                 			<span class="box-bd-item-tit">Email</span>
                 			<div class="box-bd-item-cont">
                 				<div class="form_item form-firstname">
		             				<input name="userEmail" placeholder="接收确认邮件，获得出行资讯" style="width: 406px;"/>
		             			</div>
		             		</div>
                 		</div>
                 		<div class="box-bd-item">
                 			<span class="box-bd-item-tit">入住和离店<br/>(当地时间)</span>
                 			<div class="box-bd-item-cont">入住时间：14:00以后    离店时间：12:00以前</div>
                 		</div>
                 		<div class="box-bd-item">
                 			<span class="box-bd-item-tit">住宿偏好</span>
                 			<div class="box-bd-item-cont">
                 				<textarea cols="30" rows="10" name="partiality" class="input-textarea" placeholder="您的入住偏好，酒店将视当天入住情况尽量为您安排。"></textarea>
                 			</div>
                 		</div>
                    </div>
                </div>
                <!-- 入住信息 END-->
                            
                <!-- 发票信息 -->
                <div class="xm-box">
                	<div class="box-hd">
                    	<h2 class="title">发票信息</h2>
                	</div>
                 	<div class="box-bd">
                    	<ul class="checkout-option-list checkout-option-invoice clearfix J_optionList J_optionInvoice">
                        	<li class="item selected" value="电子发票">
                            	<input type="radio" checked="checked" value="1" name="invoiceType">
                                <p>电子发票（非纸质）</p>
                         	</li>
                        	<li class="item " value="普通发票">
                            	<input type="radio" value="2" name="invoiceType">
                            	<p>普通发票（纸质）</p>
                        	</li>
                    	</ul>
                    	
                    	<p id="eInvoiceTip" class="e-invoice-tip ">
                        	电子发票是税务局认可的有效凭证，开票后不可更换纸质发票，如需报销请选择普通发票。<a href="#" target="_blank">什么是电子发票？</a>
                    	</p>
                    	
	                	<div class="invoice-info nvoice-info-1 " id="checkoutInvoiceElectronic" style="display:none;">
	                        <p class="tip">电子发票目前仅对个人用户开具，不可用于单位报销</p>
	                        <p>发票内容：预订房间明细</p>
	                        <p>发票抬头：个人</p>
	                        <p>
	                        	<span class="hide"><input type="radio" value="1" name="invoiceGroup"   checked="checked"   id="electronicPersonal" class="invoiceType"></span>
	                            <dl>
	                            	<dt>什么是电子发票?</dt>
	                            	<dd>&#903; 电子发票是纸质发票的映像，是税务局认可的有效凭证，与传统纸质发票具有同等法律效力，可作为售后维权凭据。</dd>
	                            	<dd>&#903; 开具电子服务于个人，开票后不可更换纸质发票，不可用于单位报销。</dd>
	                            	<dd>&#903; 您在订单详情的"发票信息"栏可查看、下载您的电子发票。<a href="" target="_blank">什么是电子发票？</a></dd>
	                            </dl>
	                         </p>
						</div>
						
	                    <div class="invoice-info invoice-info-2" id="checkoutInvoiceDetail" style="display:none;">
	                        <p>发票内容：预订房间明细</p>
	                        <p>
	                            发票抬头：请确认单位名称正确,以免因名称错误耽搁您的报销。
	                        </p>
	                        <ul class="type clearfix J_invoiceType">
	                            <li value="个人" class="selected invoiceGroupItem1">
	                                <input class="invoiceType" type="radio" checked="checked" id="commonPersonal" name="invoiceGroup" value="1"> 个人
	                            </li>
	                            <li value="单位" class="invoiceGroupItem2">
	                                <input class="invoiceType" type="radio" name="invoiceGroup" value="2"> 单位
	                            </li>
	                        </ul>
	                        <div id='CheckoutInvoiceTitle' class=" hide invoice-title">
	                            <label>单位名称：</label>
	                            <input name="invoiceTitle" type="text" maxlength="49" value="" class="input"> <span class="tip-msg J_tipMsg"></span>
	                       	</div>
	                       	
	                    </div>
	                    
                	</div>
                	
            	</div>
                <!-- 发票信息 END-->
            
                <!-- 支付方式 -->
                <div class="xm-box">
                    <div class="box-hd ">
                        <h2 class="title">支付方式</h2>
                    </div>
                    <div class="box-bd">
                 		<ul id="checkoutPaymentList" class="checkout-option-list clearfix J_optionList">
                 			<li class="item selected">
                 				<input type="radio" checked="checked" name="payment" value="1" />
                 				<p>在线支付</p>
                   			 </li>
                		 </ul>
                    </div>
                </div>
                <!-- 支付方式 END-->
                        
                <div class="checkout-confirm">
                    <a href="roomInformation" class="btn btn-lineDakeLight btn-back-cart">返回</a>
                    <input type="submit" class="btn btn-primary" value="立即预订" id="checkoutToPay" />
                </div>
           	</form>
      	</div>
    </div>

    <!--信息填写部分结束-->
    
	<!-- FOOTER -->
    <div th:include="common/footer"></div>
    <p>
        <a href="#"><img src="/images/settlement/bottom_img01.png"></a>
        <a href="#"><img src="/images/settlement/bottom_img02.png"></a>
        <a href="#"><img src="/images/settlement/bottom_img03.png"></a>
        <a href="#"><img src="/images/settlement/bottom_img04.png"></a>
        <a href="#"><img src="/images/settlement/bottom_img05.png"></a>
        <a href="#"><img src="/images/settlement/bottom_img06.png"></a>
        <a href="#"><img src="/images/settlement/bottom_img07.png"></a>
        <a href="#"><img src="/images/settlement/bottom_img08.png"></a>
        <a href="#"><img src="/images/settlement/bottom_img09.png"></a>
    </p>
    <!-- LOAD JQUERY -->
    <script type="text/javascript" src="js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap-select.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>

    <script type="text/javascript" src="/js/myjs/settlement/settlement.js"></script>

    <!-- js -->
    <script src="/common/scroll/jquery.nicescroll.js" /></script>
    <script src="/common/scroll/scrollStyle.js" /></script>

</body>

</html>