<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"> 

  <script src="/js/jquery/2.0.0/jquery.min.js"/></script>
  <script src="/js/bootstrap/3.3.6/bootstrap.min.js"/></script>
  <script src="/js/myjs/common/navtop/navTopCreate.js"></script>
  
  <link href="/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/mycss/common.css" rel="stylesheet" type="text/css" />
  <link href="/css/mycss/config/configCommonStyle.css" rel="stylesheet" type="text/css" />
  <link href="/css/mycss/config/user/listUserStyle.css" rel="stylesheet" type="text/css" />

  <head>
    <title>
      listUser
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
  
  <!-- 顶部导航栏 -->
  <div th:include="common/navtop"></div>
  <!-- 菜单栏 -->
  <div th:include="common/menu"></div>
  
  <!-- 表格 -->
    <div class="workingroom">
      <table class="table table-condensed table-striped">
      <thead>
      <tr>
          <td>id</td>
          <td>用户名称</td>
          <td>用户密码</td>
          <td>加密盐</td>
          <td>角色</td>
          <td>编辑</td>
          <td>删除</td>
        </tr>
      </thead>
        <tbody>
        <tr th:each="user:${page.list}">
          <td th:text="${user.id}">
          </td>
          <td th:text="${user.name}">
          </td>
          <td th:text="${#strings.substring(user.password,0,5)+'...'}">
          </td>
          <td th:text="${#strings.substring(user.salt,0,5)+'...'}">
          </td>
          <td>
            <div th:each="user_role:${user_roles[user.name]}" th:text="${user_role.name}">
            </div>
          </td>
          <td>
            <a th:href="@{'editUser?id='+${user.id}}">
              编辑
            </a>
          </td>
          <td>
            <a th:href="@{'deleteUser?id='+${user.id}}">
              删除
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      
      <!-- 分页组件 -->
      <div th:include="common/pagination"></div>
      
      <div class="addOrEdit" >
        <form action="addUser" method="post">
          用户名:
          <input type="text" name="name">
          <br>
          密码:
          <input type="password" name="password">
          <br>
          <br>
          <input type="submit" value="增加">
        </form>
      </div>
    </div>
  </body>
  <script src="/common/scroll/jquery.nicescroll.js"/></script>
  <script src="/common/scroll/scrollStyle.js"/></script>
</html>
